*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# OSX specific file
.DS_Store

# RVM
.rvmrc

# Required to run some specs
account.yaml
account.yml
